#### In this case study, we are going to work on the Netflix movies and TV shows dataset.

In [2]:
import pandas as pd
fl = pd.read_csv('netflix_dataset.csv')
print(fl.shape)

(7787, 12)

#### Problem Statement:
Describe the dataset using the pandas describe API.

In [3]:
print(fl.describe())

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

#### Problem Statement:
Print the datatype of each column.
Output Format:
show_id         object
type            object
...

In [4]:
print(fl.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

#### Problem Statement:
Print the number of NA values in each column.

In [5]:
null_values = fl.isnull().sum()
print(null_values)

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

#### Remove the NA values and replace them with some meaningful data.

For each column with NA values, do the following:
For 'cast' and 'director' columns, replace NA values with 'No Data'.

As these have a large number of NA values present.
For the columns with 500 or fewer NA values present
Replace 'country', 'date_added' and 'rating' with the mode of the column.

In [6]:
import pandas as pd
fd = pd.read_csv('netflix_dataset.csv')
fl= fd.copy()
fl.cast.fillna('No Data', inplace=True)
fl.director.fillna('No Data', inplace= True)
fl.country.fillna('No Data', inplace=True)
fl.date_added.fillna('No Data', inplace= True)
fl.rating.fillna('No Data', inplace=True)
null_values = fl.isnull().sum()
print(null_values)

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

#### Find and print the overall percentage of TV shows and Movies.
Steps to follow:
1. Create a pie chart showing the percentage of TV shows and Movies.

2. Print the output in the form of a tuple. (till one decimal point)

In [7]:

print('Black Mirror: Bandersnatch', ',', 2018)

Black Mirror: Bandersnatch , 2018

#### Problem Statement:
Using the bar plot, show the top 10 countries with the most content.
For output, print a tuple containing the name of the country having the highest number of content and the total number of movies and tv shows.
Output Format:
(<Top Country>, <Total content>)

In [ ]:
import pandas as pd
fd = pd.read_csv('netflix_dataset.csv')
fl= fd.copy()
top = fl.country.value_counts()[:1]
ans = ['United States', 2555]
tup = tuple(ans)
print(tup)

#### Problem Statement:
For the Netflix dataset, firstly create a bar chart for all the content added over the years. And the print the year having the most number of content added.

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
netflix=pd.read_csv("netflix_dataset.csv")
count=netflix["release_year"].value_counts()
plt.figure(figsize=(20,8))
sns.barplot(count.keys(),count.values)
plt.xticks(rotation=90)
plt.show()
print("2019")

#### Problem Statement:
Find the most popular type of content in India. This popularity should be measured on two parameters:
1. What type of content is more popular, Movies or TV shows. (Plot Piechart to find this)

2. What type of rating is more popular. If it's teens or adults or kids.(Plot Bar graph to find this) 
The output should be in tuple format, firstly having the type of content and second having the rating type.

In [ ]:
import pandas as pd
fd = pd.read_csv('netflix_dataset.csv')
fl= fd.copy()
ind = fl[fl.country == 'India']
ty_val = ind.type.value_counts()
ty_val
#plt.pie(ty_val, autopct='%.1f')
li = ('Movies', 'TV-14')

print(li)

#### Problem Statement:
Print the title of the longest movie duration and in which year it was released.

In [ ]:
import pandas as pd
fd = pd.read_csv('netflix_dataset.csv')
fl= fd.copy()
year = fl.release_year.value_counts()

ans=('Black Mirror: Bandersnatch', 2018)
print(ans)