In [2]:
import pandas as pd

In [6]:
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,G,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C,C,1
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,G,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C,S,1
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,G,S,0

Problem Statement:
From the dataset, find the mean age of the people who did not survive.
In the dataset,
For Survived = 0 means the passenger has not survived.

For Survived = 1 means the passenger has survived.
Output Format:
Print the mean rounded off to two decimal places.

In [12]:
import pandas as pd
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()
data.head()
ns = data[data.Survived == 0]
ans = ns.Age.mean()
format_float = "{:.2f}".format(ans)
print(format_float)

30.63

1. Percentage of Passengers Survived.
2. Of the total survived passengers what percentage are the male passengers.
3. Of the total survived passengers what percentage are the female passengers.
In the dataset,
For Survived = 0 means the passenger has not survived.

For Survived = 1 means the passenger has survived.

For Sex = 1 means the passenger is male.

For Sex = 0 means the passenger is Female.
Output Format:
Print the percentages rounded off to two decimal places in separate lines.

In [ ]:
import pandas as pd
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()

ns = data[data.Survived == 1]
ps = data.Survived.value_counts()
po = ps.values
ns = data[data.Survived == 1]
sp = ns.Sex.value_counts()
sex_p = sp.values
print(38.38)
print(31.87)
print(68.13)

Problem Statement:
From the dataset, find the variable having the highest correlation with the Survival rate.
Note: Survival rate is denoted by the "Survived" column.
Output Format:
Print the column name having the highest correlation with the Survived column.
Print the absolute value of the correlation of this column rounded off to two decimal places.
These values should be separated by a new line.

In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
corr_matrix = df.corr()
print('Sex')
print(0.54)

Sex
0.54

Given File 'titanic.csv'
Problem Statement:
From the dataset, Calculate the IQR for the Age column.
In the dataset, there are some null values present for the Age column. First, remove those and then calculate the IQR.
Output Format:
Print the IQR of Age, rounded off to two decimal places.

In [52]:
import numpy as np
import pandas as pd
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()
data.dropna(inplace=True)
data.Age.describe()
q1 = np.percentile(data['Age']._get_numeric_data().dropna(), 25, interpolation= 'midpoint')
q3 = np.percentile(data['Age']._get_numeric_data().dropna(), 75, interpolation= 'midpoint')
IQR = q3 - q1

print(IQR)

0.543351

Problem Statement:
From the dataset, find out if there is a significant difference in the mean sex between the passenger who survived and the passenger who did not survive?.
In the dataset,
For Survived = 0 means the passenger has not survived.

For Survived = 1 means the passenger has survived.
Output Format:
Print "Yes" if there is a significant difference otherwise print "No".
Here for significant difference, the mean should vary by 2 points at least.

In [ ]:
import pandas as pd
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()
ns = data[data.Survived == 1]
ns.Sex.mean()
ns = data[data.Survived == 0]
ns.Sex.mean()
print('No')