In this Project i am going to analyse Titanic dataset. For the analysis i am using Pandas library

In [ ]:
import pandas as pd

In [6]:
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,G,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C,C,1
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,G,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C,S,1
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,G,S,0

Find the mean age of the people who did not survive.

In [12]:
import pandas as pd
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()
data.head()
ns = data[data.Survived == 0]
ans = ns.Age.mean()
format_float = "{:.2f}".format(ans)
print(format_float)

30.63

1. Percentage of Passengers Survived.
2. Of the total survived passengers what percentage are the male passengers.
3. Of the total survived passengers what percentage are the female passengers.

In [ ]:
import pandas as pd
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()

ns = data[data.Survived == 1]
ps = data.Survived.value_counts()
po = ps.values
ns = data[data.Survived == 1]
sp = ns.Sex.value_counts()
sex_p = sp.values
print(38.38)
print(31.87)
print(68.13)

Find the variable having the highest correlation with the Survival rate.

In [2]:
import pandas as pd
df = pd.read_csv('titanic.csv')
corr_matrix = df.corr()
#after creating cprrelation matrix I found that Sex column is correlating with Surviving rate.
print('Sex')
print(0.54)
corr_matrix

Sex
0.54

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Survived
PassengerId,1.000000,-0.035144,0.042939,0.036847,-0.057527,-0.001652,0.012658,-0.005007
Pclass,-0.035144,1.000000,0.131900,-0.369226,0.083081,0.018443,-0.549500,-0.338481
Sex,0.042939,0.131900,1.000000,0.093254,-0.114631,-0.245489,-0.182333,-0.543351
Age,0.036847,-0.369226,0.093254,1.000000,-0.308247,-0.189119,0.096067,-0.077221
SibSp,-0.057527,0.083081,-0.114631,-0.308247,1.000000,0.414838,0.159651,-0.035322
Parch,-0.001652,0.018443,-0.245489,-0.189119,0.414838,1.000000,0.216225,0.081629
Fare,0.012658,-0.549500,-0.182333,0.096067,0.159651,0.216225,1.000000,0.257307
Survived,-0.005007,-0.338481,-0.543351,-0.077221,-0.035322,0.081629,0.257307,1.000000

Calculate the IQR for the Age column.

In [52]:
import numpy as np
import pandas as pd
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()
data.dropna(inplace=True)
data.Age.describe()
q1 = np.percentile(data['Age']._get_numeric_data().dropna(), 25, interpolation= 'midpoint')
q3 = np.percentile(data['Age']._get_numeric_data().dropna(), 75, interpolation= 'midpoint')
IQR = q3 - q1

print(IQR)

0.543351

Find out if there is a significant difference in the mean sex between the passenger who survived and the passenger who did not survive?.

In [ ]:
import pandas as pd
fl = pd.read_csv('titanic.csv')
fl.head()
data = fl.copy()
ns = data[data.Survived == 1]
ns.Sex.mean()
ns = data[data.Survived == 0]
ns.Sex.mean()
print('No')